.button{
    display: flex;
    flex-direction: row;
    width: 100%;
    right: 0;
    margin-left: auto;
    background: lightcyan;
    /* opacity: 1.6; */
    justify-content: space-around;
    padding: 10px;
}
.width{
    flex: 0.9;
}
.btn1,.btn2{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn2{
    background:lightblue;
    color: white;
}
.btn1{
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 16px;
    background:rgb(91, 183, 213);
    color: white;
}
.style{
    text-decoration: none;
    color:white
}