
.container1
{   
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
    background: #f2f2f2;
    padding-bottom: 10px;
    width: 500px;
    border: 2px;
    border-radius: 50px;
    height: 600px;
}

.ads
{
    color: green;
    padding-left: 35px;
    margin-left: 50px;
}

.qr
{
    padding-left: 70px;
 padding-top: 30px;
    border-radius: 10px;
    height: 200px;
}

.mod 
{
    color: black;
    padding-top: 50px;
    font-size: 16px;
    font-weight: 600;
}

.inp
{
    /* padding-right: 50px; */
    margin-left: 30px;
}

.esewa
{
    margin-top: 30px;
    height: 90px;
    
}

.khalti
{
    margin-top: 35px;
    height: 90px;
}